---
import '../styles/main.css';

import Button from '../components/Button.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Flexible Astro Component</title>
	</head>
	<body>
		<h1>Astro Buttons</h1>
		<Button id="btn1" isFilled theme="primary" size="lg">Click Here</Button>

		<div class="row">
			<Button isFilled theme="danger" size="md">Click Here</Button>
		</div>
		<div class="row">
			<Button theme="info" size="lg">Click Here</Button>
		</div>
		<div class="row">
			<Button theme="warning" isFilled size="md">Click Here</Button>
		</div>
		<div class="row">
			<Button theme="light" isFilled size="md">Click Here</Button>
		</div>
	</body>
</html>

<script>
	document.querySelector('#btn1')?.addEventListener('click', () => alert('Yo!'));
</script>

<style>
	.row {
		margin: 1rem;
	}
</style>