---
const { type = "button",
        size = "md",
        isFilled,
        theme = 'light',
        classes,
        ...rest
      } = Astro.props;

const background = `var(--${theme})`;
const foreground = theme === 'light' ? 'var(--primary)' : 'var(--light)';
---

<!-- things we might want in a button -->
<!-- 1. type: button | submit -->
<!-- 2. size: sm, md, lg -->
<!-- 3. theme: colorTheme -->
<!-- 4. isFilled? -->
<!-- 5. classes : button attr -->

<button class:list={[ classes, { filled: isFilled } ]} 
        {type} 
        data-size={size}
        {...rest}>
    <slot />
</button>

<style define:vars={{
    background,
    foreground
}}>
    button {
        font-family: inherit;
        cursor: pointer;

        --bcg: var(--background); 
        --clr: var(--foreground); 

        background-color: var(--bcg);
        color: var(--clr);

        border: .2em solid var(--bcg);
        padding: .4em 1.25em;
    }
</style>